@using TiendaOnline.Models
@model List<Carrito>
@{
    ViewData["Title"] = "Cart";
}
    <br />
    <div class="container">
        <h1>Compras del Cliente</h1>


        <div class="row">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Imagen </th>
                        <th>Nombre </th>
                        <th>Cantidad</th>
                        <th>Precio</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="~/@item.Producto.Imagen" width="200" height="150" />
                            </td>
                            <td>@item.Producto.Nombre</td>
                            <td>@item.Cantidad</td>
                            <td>@item.Producto.Precio  </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            @*<div class="col-6">
                <a asp-action="Index" asp-controller="Home" class="btn btn-success">Volver al principio</a>
            </div>*@
            <div class="col-6 text-right">
                <h3>Cantidad Total</h3>
                <h3>Total Cuenta: @Model.Sum(c => c.Producto.Precio)</h3>
                <a asp-area="Admin" asp-action="Index" asp-controller="GestorClientes" class="btn_3">Volver a Lista de Clientes</a>


            </div>

        </div>

    </div>