@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>Confirmacion de contraseña olvidada</h1>
<p>
  Revisa tu correo, hemos enviado la confirmacion.
</p>

