@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Cuenta desbloqueada</h1>
    <p class="text-danger">Esta cuentqa ha suido Desbloqueada, intente de nuevo.</p>
</header>
