@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña se ha reiniciado. Por favor <a asp-page="./Login">Click aqui para inciar sesion</a>.
</p>
