
@{
    ViewData["Title"] = "Cumpleaños";
}

<br />

<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Lista de Meses</h2>
        </div>
    </div>

    <br />

    <div>
        <table class="table table-striped border text-center">

            <tr class="table-info">
                <th>
                    Mes
                </th>
                <th>
                    Acción
                </th>
            </tr>

            <tr>
                <td>
                    Enero
                </td>
                <td>
                    <a asp-action="Enero" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Febrero
                </td>
                <td>
                    <a asp-action="Febrero" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Marzo
                </td>
                <td>
                    <a asp-action="Marzo" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Abril
                </td>
                <td>
                    <a asp-action="Abril" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Mayo
                </td>
                <td>
                    <a asp-action="Mayo" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Junio
                </td>
                <td>
                    <a asp-action="Junio" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Julio
                </td>
                <td>
                    <a asp-action="Julio" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>


            <tr>
                <td>
                    Agosto
                </td>
                <td>
                    <a asp-action="Agosto" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Septiembre
                </td>
                <td>
                    <a asp-action="Septiembre" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Octubre
                </td>
                <td>
                    <a asp-action="Octubre" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Noviembre
                </td>
                <td>
                    <a asp-action="Noviembre" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

            <tr>
                <td>
                    Diciembre
                </td>
                <td>
                    <a asp-action="Diciembre" class="btn_3 p-2">Ver Cumpleaños</a>
                </td>
            </tr>

        </table>
    </div>
</div>

