@model TiendaOnline.Models.Especiales
@{
    ViewData["Title"] = "Agregar Especial";
}

<br />

<h2 class="text-info">Crear Especial</h2>

<form asp-action="Create" method="post">
    <div class="p-4 rounded border">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Nombre"></label>
            </div>
            <div class="col-5">
                <input asp-for="Nombre" class="form-control" />
            </div>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Guardar" />
            <a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
</form>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}